/* Global Custom CSS */

.card{
  background-color: #192734;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
}

.card-header{
  border-bottom: 1px solid rgb(67 79 88 / 50%);
}

.card-body {
  padding: 2rem;
}

.dropdown-toggle::after {
  margin-left: .85em;
  vertical-align: .15em;
  border: solid #707c86;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
